{% load static %}
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>FOOD</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet 5%" type="text/css" media="all">
</head>
<body id="top">

  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">


    </div>
  </div>

  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="/">AJ FOOD SHOPPING</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">

          <li><a class="active" href="/">Home</a></li>
          <li><a class="active" href="{% url 'cartDetails' %}">Cart</a></li>
          <li><a class="active" href="{% url 'register' %}">Register</a></li>
          <li><a class="active" href="{% url 'login' %}">login</a></li>
          <li><a class="active" href="{% url 'logout' %}">Logout</a></li>



        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>